.header {
  animation: 1s ease-out 0s 1 slideUp;
  height: 100vh;
}

.header-profile {
  margin: 10vh;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

.header-title {
  margin: 0;
  font-size: 4vw;
}

.header-subtitle {
  margin: 2vh;
  font-size: 2vw;
  font-style: italic;
}

.fa-arrow-down {
  position: absolute;
  margin-bottom: 4vh;
  bottom: 0;
  font-size: 2vh;
}

@keyframes slideUp {
  0% {
    transform: translateY(8vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* small screen */
@media (pointer: none), (pointer: coarse) {
  .header-profile {
    margin: 10vh;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
  }

  .header-title {
    margin: 0;
    font-size: 12vw;
  }

  .header-subtitle {
    margin: 2vh;
    font-size: 5vw;
  }

  .fa-arrow-down {
    position: absolute;
    margin-bottom: 20vh;
    bottom: 0;
    font-size: 2vh;
  }
}
