.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  z-index: 100000;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-profile {
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 10vh;
  height: 20vh;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-profile-image {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  margin: 0;
  transition: all 300ms ease-in-out;
  filter: grayscale(100%) opacity(0.7);
}

.nav-profile-text {
    visibility: hidden;
    margin-top: 6vh;
    white-space: nowrap;
    font-size: 2vw;
    margin-bottom: 1vh;
}

.nav-profile-subtext {
    font-style: italic;
    visibility: hidden;
    margin-top: 2vh;
    white-space: nowrap;
    font-size: 1.2vw;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 10vh;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1vw;
  font-size: 2vw;
}

.nav-link svg {
  width: 2vw;
  min-width: 2vw;
  margin: 0 2vw;
}

/* Large screens */
@media (pointer:fine) {
  .navbar {
    top: 0;
    width: 6vw;
    height: 100vh;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .navbar:hover {
    width: 20vw;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .nav-profile {
    transform: translateY(5vh);
  }

  .navbar:hover .nav-profile-text {
    visibility: visible;
  }

  .navbar:hover .nav-profile-subtext {
    visibility: visible;
  }

  .navbar:hover  .nav-profile-image {
    filter: grayscale(0%) opacity(1);
    transform: scale(3)
  }

  .navbar:hover .logo svg {
    margin-left: 11vw;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
}

/* small screen */
@media (pointer:none), (pointer:coarse) {
  .navbar {
    bottom: 0;
    width: 100%;
    height: 10vh;
  }

  .nav-item:nth-child(1) {
    display: none;
  }

  .nav-link svg {
    width: 4vh;
    min-width: 2vh;
    margin: 0 1.5vw;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}